<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>@ViewBag.Title</title>

        <link href="~/Content/normalize.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/stylesCss/styleHomeOpcionMenu.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/modernizr-2.8.3.js"></script>

        <style>

            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }

            /* Set padding to keep content from hitting the edges */
            .body-content {
                padding-left: 15px;
                padding-right: 15px;
            }

            /* Set width on the form input elements since they're 100% wide by default */
            input,
            select,
            textarea {
                max-width: 280px;
            }


            .footerBottom {
                position: fixed;
                left: 0px;
                bottom: 0px;
                height: 40px;
                width: 100%;
                background: Black;
                color:white;
            }
        </style>

    </head>

    <body>

        <div class="navbar navbar-inverse navbar-fixed-top" style="padding:0px;">

            <div class="container btnM btn-primary center-block">

                <h1 style="text-align:center; font-size:40px; padding:0px; margin:0px; color:black;">TALLER RRL</h1>

            </div>

        </div>

        <div class="container body-content">

            @RenderBody()

        </div>

        <hr />
        <footer class="footerBottom">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>

        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>

    </body>

</html>