
@{
   ViewBag.Title = "Home";
}

<h2>Bienvenido al Taller RRL</h2> <hr />

<div style="width:70%; height:60%;">

    @Html.ActionLink("Ver listado de autos", "GetListAuto", "Auto",null, new { @class = "btn btn-default", @style = "border-radius:20px; padding:40px,6px;"})

</div>



